body {
    background-color: rgb(241, 241, 194);
    text-align: center;
}

.div {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px 60px 40px;
    border-radius: 30px;
}

hr {
    width: 500px;
    text-align: center;
    margin-top: 25px;
}

img {
    margin: 0px;
    height: 100px;
    width: 450px;
    object-fit: cover;
}